parameters:
	paths:
		#- api
		- Civi
		#- CRM
		- tests
	excludePaths:
		analyse:
			- CRM/*/DAO/*
			- CRM/*/Upgrader/Base.php
			- tests/phpunit/bootstrap.php
	scanFiles:
		- remoteactivity.civix.php
		- tools/phpunit/vendor/bin/.phpunit/phpunit/src/Framework/TestCase.php
	scanDirectories:
		- tools/phpunit/vendor/bin/.phpunit/phpunit/src/Framework
		- ../de.systopia.remotetools/Civi/RemoteTools
	bootstrapFiles:
		- tools/phpunit/vendor/bin/.phpunit/phpunit/vendor/autoload.php
		- phpstanBootstrap.php
	level: 9
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	checkUninitializedProperties: true
	checkMissingCallableSignature: true
	treatPhpDocTypesAsCertain: false
	exceptions:
		check:
			missingCheckedExceptionInThrows: true
			tooWideThrowType: true
		checkedExceptionClasses:
			- \Webmozart\Assert\InvalidArgumentException
		implicitThrows: false
	ignoreErrors:
		# Note paths are prefixed with ""*/" to wirk with inspections in PHPStorm because of:
		# https://youtrack.jetbrains.com/issue/WI-63891/PHPStan-ignoreErrors-configuration-isnt-working-with-inspections

		- '#^Method Civi\\Remoteactivity\\Fixtures\\[^\s]+Fixture::[^\s]+\(\) should return array{[^}]+} but returns array\|null.$#'
	tmpDir: .phpstan
